@media(max-width:480px){
    /* body{
        width: 100%;
        box-sizing: border-box;
        background: url(https://unsplash.com/photos/Orz90t6o0e4/download?force=true);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #fff;
        font-family: 'Big Shoulders Display', cursive;
        font-size: 24px;
        letter-spacing: 1px;
        margin: 0;
        padding: 0;
    }
    
    #header{
        align-items: center;
        display:flex;
        flex-direction: row;
    
        width: 100%;
    }
    
    .logo {
        border:1px solid black;
        width: 30%;
    }
    .logo img{
        width:100%;
    }
    
    #navigation-menu{
        border:1px solid red;
        display: flex;
        flex-direction:row;
        width: 70%;
    }
    
    .lista{
        border:1px solid green;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 100%;
    }
    .lista li{
        text-decoration: none;
    }
    
    .lista li:hover{
        border-bottom: 1px groove white ;
        cursor:pointer;
        transition: 0.6s;
        color: rgb(235, 155, 51);
    } */
}

@media(min-width: 481px) and (max-width:768px){

}

@media(min-width: 769px) and (max-width:1279px){
    
}

@media(min-width:1280px){

}
