::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:10px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }

body{
    box-sizing: border-box;
    color: #fff;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
:root{
    --dark-orange: #da7f08;
    --orange: #eb9b33;
}

#bg-section{
    background-image: url("/img/BGSection.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}
/* //Header// */
#header{
    align-items: center;
    display:flex;
    flex-direction: row;
    height:auto;
    width: 100%;
}

.logo{
    
    width: 20%;
    margin-left: 15px;
}

.logo img{
    height:150px;
    width:150px ;
}

#navigation-menu{
    display: flex;
    flex-direction:row;
    width: 80%;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}
.lista a{
    color: #fff;
    text-decoration: none;
}

.lista a:hover{
    border-bottom: 1px groove #fff;
    cursor:pointer;
    transition: 0.6s;
    color: var(--orange);
    text-decoration: none;
    
}
/* Main info */
.info{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}
.info h1, h2{
    margin: 0;
}
.section-menu{
    height: 4100px;
    color: black;
}
#menu{
    align-items: center;
}
.menu-title{
    text-align: center;
}
/*Card Menu*/
.card-food{
    margin:0 auto;
    margin-top:30px;
    display:flex;
    flex-direction: row;
    width:720px;
    height: 300px;
    -webkit-box-shadow: 5px 5px 20px 8px rgba(76,76,76,0.49); 
    box-shadow: 5px 5px 20px 8px rgba(76,76,76,0.49);
}
.image-food{
    display: flex;
    flex-direction: column;
    width:50%;
    height:100%;
}
.image-food img{
    width: 340px;
    height: 300px;
    object-fit: cover;
}
.info-food{
    display:flex;
    flex-direction: column;
    width:50%;
    height: 100%;
}
.title-info-food{
    margin-right: 25px;
    margin-left: 15px;
}
.title-info-food h3{
    text-align: center;
    margin-bottom: 0;
    border-bottom: 0.5px solid grey;
}
.price-info-food h2{
    text-align: center;
    font-size: 32px;
}
.actions-info-card>i:hover{
    cursor: pointer;
}
button{
    width: 75px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #000;
    cursor: pointer;
}
.button-car i{
    font-size: 18px;
}
.text-info-food p{
    text-align: center;
    font-size: 14px;
    font-family: 'Fira Sans', sans-serif;
    margin-right: 30px;
    margin-left: 10px;
}
.actions-info-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-around;
}

.fixed-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    margin: auto;
    left: 95%;
    top: 91%;
    background-color: var(--dark-orange);
    border: 1px solid var(--dark-orange);
}
.red-heart{
    color:red;
    transition: 0.6s;
    transform: scale(1.1);
}
.fixed-btn i{
    color: #fff;
    font-size: 19px;
}
/* footer{
    background: var(--dark-orange);
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
} */