::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:10px; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
    
  }


body{
    box-sizing: border-box;
    color: #fff;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
:root{
    
}

#bg-section{
    background: url(https://unsplash.com/photos/g_V2rt6iG7A/download?force=true);
    background-color: rgb(47, 73, 64);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}
/* //Header// */
#header{
    align-items: center;
    display:flex;
    flex-direction: row;
    height:auto;
    width: 100%;
}

.logo{
    
    width: 20%;
    margin-left: 15px;
}

.logo img{
    height:150px;
    width:150px ;
}

#navigation-menu{
    display: flex;
    flex-direction:row;
    width: 80%;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}
.lista a{
    color: #fff;
    text-decoration: none;
}

.lista a:hover{
    border-bottom: 1px groove #fff;
    cursor:pointer;
    transition: 0.6s;
    color: rgb(235, 155, 51);
    text-decoration: none;
    
}
/* Main info */
.info{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}
.info h1, h2{
    margin: 0;
}

.section-menu{
    height: 800px;
}