body{
    background: url("/img/BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    background-size: cover;
    color: #fff;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;  
}
:root{
    --dark-orange: #da7f08;
    --orange: #eb9b33;
}
/* Header */
#header{
    align-items: center;
    display:flex;
    flex-direction: row;
    height:auto;
    width: 100%;
}
/* Logo Tiramisu */
.logo{
    margin-left: 15px;
    width: 20%;
}
.logo img{
    height:150px;
    width:150px ;
}
/* Navigation Bar Menu */
#navigation-menu{
    display: flex;
    flex-direction:row;
    width: 80%;
}
.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}
.lista a{
    color: #fff;
    text-decoration: none;
}
.selected{
    color: var(--dark-orange) !important;
    font-weight: bold;
}
.lista a:hover{
    border-bottom: 1px groove #fff;
    color: rgb(235, 155, 51);
    cursor:pointer;
    transition: 0.6s;
    text-decoration: none;
}
/* Main info */
.info{
    display:flex;
    flex-direction: column;
    padding-top: 100px;
    text-align: center;
}
.info h1, h2{
    margin: 0;
}
/* Button "Order Now"*/
.fancy-btn{
    border:2px solid rgb(235, 155, 51);
    color:#fff;
    display:inline-block;
    backdrop-filter: blur( 7.5px );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    font-family:'Dancing Script',serif;
    font-style:italic;
    font-size:30px;   
    margin:20px auto;
    margin-top: 100px;    
    padding:10px 20px;
    position:relative;
    text-decoration:none;
    transition: color 0.4s;
    -webkit-backdrop-filter: blur( 7.5px );
  }
  .fancy-btn:after{
    border:2px solid rgba(0,0,0,0);
    bottom:0;  
    content:" ";
    display:inline-block;
    height:100%;
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    transition:all 0.4s;
    top:0;
    width:100%;
  }
  .fancy-btn:hover{
    background: rgba( 0, 0, 0, 0.25);
    color:#eee;
  }
  .fancy-btn:hover:after{  
    border:2px solid rgb(235, 155, 51);
    height: calc(100% + 10px);
    width: calc(100% - 10px); 
  }













