body{
    box-sizing: border-box;
    background: url(https://unsplash.com/photos/Orz90t6o0e4/download?force=true);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 24px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
:root{
    
}
/* //Header// */
#header{
    align-items: center;
    display:flex;
    flex-direction: row;
    height:auto;
    width: 100%;
}

.logo{
    width: 20%;
    margin-left: 15px;
}

.logo img{
    height:150px;
    width:150px ;
}

#navigation-menu{
    display: flex;
    flex-direction:row;
    width: 80%;
}

.lista{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}
.lista a{
    color: #fff;
    text-decoration: none;
}

.lista a:hover{
    border-bottom: 1px groove #fff;
    cursor:pointer;
    transition: 0.6s;
    color: rgb(235, 155, 51);
    text-decoration: none;
    
}
/* Main info */
.info{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}
.info h1, h2{
    margin: 0;
}




.fancy-btn{
    display:inline-block;
    position:relative;
    padding:10px 20px;
    border:2px solid rgb(235, 155, 51);
    color:#fff;
    font-family:'Dancing Script',serif;
    font-style:italic;
    font-size:30px;
    text-decoration:none;
    margin:20px auto;
    transition: color 0.4s;
    margin-top: 100px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
  }
  .fancy-btn:after{
    content:" ";
    border:2px solid rgba(0,0,0,0);
    display:inline-block;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    transition:all 0.4s;
  }
  .fancy-btn:hover{
    color:#eee;
    background: rgba( 0, 0, 0, 0.25 );
  }
  .fancy-btn:hover:after{  
    border:2px solid rgb(235, 155, 51);
    width: calc(100% - 10px);
    height: calc(100% + 10px); 
  }













